<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Fuer die Selbstaktualisierung: die App holt das neue Paket und
         uebergibt es dem System. Installiert wird nur nach Rueckfrage. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Ohne diese beiden Zeilen verweigert Fire OS die Installation: das
         Geraet hat keinen Touchscreen, und ohne die Leanback-Angabe taucht
         die App nicht auf dem Fernseh-Startbildschirm auf. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- LAUNCHER fuer normale Geraete, LEANBACK_LAUNCHER fuer den
                     Fernseh-Startbildschirm. Ohne die zweite Zeile bleibt die
                     App auf dem Fire Stick unsichtbar. -->
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Reicht das heruntergeladene Paket an den Installer weiter. Ohne
             das lehnt Android ab Version 7 eine Datei-Adresse ab. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.dateien"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dateipfade" />
        </provider>
    </application>
</manifest>
